---
layout: default
---

<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h3 class="fw-bold">CAREER PROFILE</h3>
    {{ content }}  
  </div>
  <div class="col-md-6">
    <img src="{{ site.github.url }}/assets/img/profile.jpg" alt="Home" width="50%">
  </div>
</div>

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">CAREER</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
          <h4>Job Experience</h4>
        </div>
        <div class="col-md-10">
          {% for section in site.data.cv.job-experience %}
            <p class="fw-bold">{{ section.title }}</p>
            <p>{{ section.description }}</p>
      
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Education</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}<a href="{{ section.link }}">{{ section.description2 }}</a></p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

<h3 class="fw-bold border-bottom pb-3 mb-6">Projects</h3>
{% for project in site.data.settings.projects %}
<div class="row g-5 mb-5">
  <div class="col-md-6">
    <h5>{{ project.name | markdownify}}</h5>
    <p>{{ project.company_and_date | markdownify }}</p>
    {% if project.description %}
    <p>{{ project.description | markdownify }}</p>
    {% endif %}
    {% if project.description2 %}
    <p>{{ project.description2 | markdownify }}</p>
    {% endif %}
    {% if project.description3 %}
    <p>{{ project.description3 | markdownify }}</p>
    {% endif %}
    <p>{{ project.keyword | markdownify }}</p>
    <p>{{ project.skills | markdownify }}</p>
    {% if project.url %}
    <p><a href="{{ site.github.url }}/projects/{{ project.url }}">More info</a></p>    
    {% endif %}    
    <p>
    {% if project.poster_url %}    
      <a href="{{ project.poster_url }}">[poster]</a>            
    {% endif %}                
    {% if project.paper_url %}    
      <a href="{{ project.paper_url }}">[paper]</a>            
    {% endif %}        
    {% if project.paper_url2 %}    
      <a href="{{ project.paper_url2 }}">[paper2]</a>            
    {% endif %}
    {% if project.code_url %}          
      <a href="{{ project.code_url }}">[code]</a>    
    {% endif %}        
    {% if project.leaderbord %}          
      <a href="{{ project.leaderbord }}">[leaderbord]</a>    
    {% endif %}        
  </p>
  </div>  
  {% if project.image %}
  <div class="col-md-6">     
    <img src="{{ site.github.url }}/{{ project.image }}" alt="Contact" width="100%">    
  </div>
  {% endif %}
  {% if project.pdf %}
  <div class="col-md-6">     
    <iframe src="{{ site.github.url }}/{{ project.pdf }}" width="100%" height="500px"></iframe>
  </div>
  {% endif %}
  {% if project.image3 %}
  <div class="col-md-2">
    <img src="{{ project.image3 }}" alt="Contact" width="100%">    
  </div>
  <div class="col-md-2">    
    <img src="{{ project.image3_2 }}" alt="Contact" width="100%">    
  </div>
  <div class="col-md-2">
    <img src="{{ project.image3_3 }}" alt="Contact" width="100%">    
  </div>  
  {% endif %}  
</div>
{% endfor %}

{% include publications.html %}

<h3 class="fw-bold border-bottom pb-3 mb-6">Skills</h3>
{% for skill in site.data.settings.skills %}
<h5>{{ skill.category1 | markdownify}}</h5>
<p>{{ skill.description1 | markdownify }}</p>
<h5>{{ skill.category2 | markdownify}}</h5>
<p>{{ skill.description2 | markdownify }}</p>
<h5>{{ skill.category3 | markdownify}}</h5>
<p>{{ skill.description3 | markdownify }}</p>
{% endfor %}
